nav {
  overflow: hidden;
}

.middle {
  vertical-align: middle;
}

.fontsize {
  font-size: 1rem;
}

.cursor-style {
  cursor: pointer;
}

.center {
  width: 50%;
  height: 91.4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-spacing {
  margin-left: 1em;
  min-height: 30px;
  max-height: 55px;
}

.main {
  background-image: url("../images/ResumeImage1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
