nav {
  overflow: hidden;
}

.head {
  padding: 1rem;
  font-size: 1.25rem;
}

.my-card {
  min-width: 350px;
  width: 30vw;
}

.middle {
  vertical-align: middle;
}

.fontsize {
  font-size: 1rem;
}

.cursor-style {
  cursor: pointer;
  color: #0d6efd;
}

.center {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-spacing {
  margin-left: 1em;
  min-height: 30px;
  max-height: 55px;
}

.main {
  background-image: url("../images/ResumeImage1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
